@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper{
    @apply container mx-auto px-10 flex items-center
}
.card-1{
    @apply flex items-center justify-center gap-4
}
.card-1 > *{
    position: relative;
    @apply h-52 flex justify-center flex-col
}
.headerbg{
    @apply backdrop-blur-xl bg-white/30 border-b-2
}
nav ul {
    @apply flex justify-between items-center gap-10 text-[17px]
}
.cart-bag{
    @apply flex justify-between items-center gap-5 text-[25px]
}

.logo{
    @apply flex justify-start items-center
}
.slider{
    background-color: #e3ffe6;
    height: 500px;
}
.slider .wrapper{
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
}
.sub-title{
    @apply text-2xl pb-5
}
h1{
    @apply text-5xl font-extrabold mb-10
}
.linkBtn{
    @apply btn-primary inline-block w-40 p-3 text-center text-white rounded-3xl
}
.ft-section {
    @apply flex flex-col text-center font-bold text-2xl gap-3
}
.ft-section .logo{
    justify-content: center;
}
.social{
    @apply flex items-center gap-3 justify-center text-[32px]
}
.heading2{
    @apply text-4xl font-semibold mb-10
}
.heading2 span{
    @apply text-neutral-500
}
.heading1{
    @apply text-5xl font-semibold mb-7
}

.card-1 .imgbox{
    position: absolute;
    right: 10px;
    top: 25px;
    width: 37%;
}

.card-2{
    @apply flex items-start gap-4
}
.card-2 > *{
    @apply gap-3 flex flex-col
}
.card-2 .imgbox{
    height: 230px;
    @apply flex justify-center
}
.card-2 .imgbox img{
    object-fit: contain;
    height: 200px;
}
.card-insd{
    @apply w-1/4 rounded-xl p-6 shadow-xl border-2 h-full bg-white
}
.price{
    @apply font-semibold text-2xl
}

.st-logo{
    @apply pb-6
}
.btns-box{
    @apply gap-6 flex pt-10 
}

.heading-center{
    @apply text-5xl text-center mb-3 font-semibold flex justify-center
}
.subtitle{
    @apply text-2xl
}

.testimonial-slider{
    @apply h-60 flex justify-center flex-col text-center w-7/12
}
.testimonials_btn-container{
    @apply flex justify-center gap-4
}
.testimonials_btn{
    @apply text-4xl
}
.testimonial_title{
    @apply text-[18px]
}

.innerBanner{
    @apply h-96 bg-gradient-to-bl from-emerald-100

}
.innerBanner .wrapper{
    @apply justify-center h-full text-center
}
.founders .wrapper{
    align-items: inherit;
    @apply flex-col
}

.clients {
    @apply flex justify-center gap-4
}
.clients > * {
    @apply w-1/4
}
.clients .imgbox{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
}
.clients .imgbox img{
    object-fit: cover;
    object-position: center;
    height: 350px;
    width: 100%
}

.card-2.card-wd .card-insd{
    width: 24.1%;
}

.search-bar{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:80%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-bag{
    position: relative;
}
.dropdown{
    position: absolute;
    top:100%;
    right:15px;
    width:250px;
    background-color: #fff;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
.dropdown li a{
    display: block;
    padding: 7px 0;
}